<!-- This website template was created by: Nicole Kinney 2/15/2023 -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Grand Valley State University Admin Page</title>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="styles/style.css">
</head>

<body>
	<main class="content">
		<!-- <button  class= "right" type="button" onclick="alert('You have successfully logged out. You may now close this window.')">Logout</button> </h1> -->
				
		<div class="wrapper">
		
			<!--header image-->
			<header> 
			</header>
			 
			<h1 class="center">GVSU School of Computing Course Listing</h1> 

			<nav>		
				<ul>
					<li class="center">  	
						<!--Nav bar-->
							<a class="btn btn-primary" href="/facultySearch">Search by Professor</a> 
							<a class="btn btn-primary" href="/courseSearch">Search by Course</a> 
							<a class="btn btn-primary" href="/courses">Course List</a>
							<a class="btn btn-primary" href="/users">Faculty List</a>
					</li>
				</ul>		
			</nav> 

			<p class="center"> Key: 0 = default, 1 = teach in more than a year, 2 = teach in less than 6 months, 3 = teach right away </p> 


			<select id="select">
				<!--iterate through list of courses to print IDs-->
				<% courses.forEach(course => { %>
					<option id="<%= course.courseID %>"><%= course.courseID %></option>
				<% }); %>	

				<input type="text" id="input" onkeyup="filterFunction()" placeholder="Search for faculty">
				
				<!--<input id="search" typ="text" class="input" onkeyup="myFunction()" placeholder="Search"/> -->
			</select> 

			<table id="dataTable"><!--Starting Table--> 
			
				<tr><!--Row 1 -->
					<th>Faculty Name</th>
					<th><button id="rank">Ranking</button></th>
					<th><button id="desire">Desire</button></th>
					<th>Notes</th> 
				</tr>	
				
				<!-- iterate through list of users and print scores for each -->
				<tbody>
					<% scores.forEach(score => { %>
						<tr>
							<td><%= score.User.lName %>, <%= score.User.fName %></td>
							<td><%= score.ranking %></td>
							<td><%= score.desire %></td>
							<td><%= score.notes %></td>
						</tr> 	
					<% }); %> <!-- end for loop -->
				</tbody>
				
			</table>
		</div>
	</main>
</body>

   <!--Bootstrap Imports-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>  

	<script> 

		const selectElem = document.getElementById("select");

		//redirect to selected course on dropdown option change
		selectElem.addEventListener("change", () => {
			const index = selectElem.selectedIndex.id;
			window.location.href = "/courseSearch/" + index;
		});

		//update dropdown to show selected course [FIX] not doing anything :(
		function setCourse(dropdown, id) {
			console.log("courseID" + id);
				for (let i = 0; i < dropdown.options.length; i++) {
					if (dropdown.options[i].id == id) {
						dropdown.options[i].selected = true;
						return;
					}
				}
			}
		setCourse(document.getElementById('select'),"<%=courseID%>");

		function filterFunction() {
			var input, filter, ul, li, a, i;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			div = document.getElementById("myDropdown");
			a = div.getElementsByTagName("a");
			for (i = 0; i < a.length; i++) {
				txtValue = a[i].textContent || a[i].innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
				a[i].style.display = "";
				} else {
				a[i].style.display = "none";
				}
			}
			}

		//rules for sortable table for ranking and desire part 2 (not sure which one will work)
				
		/**
			 *  @param {HTMLTableElement}
			 * @param {number}
			 * @param {boolean}
			 */
		/*function sortTable(table, column, asc = true) {
			const tBody = table.tBodies[0];
			const rows = Array.from(tBody.querySelectorALL("tr"));
			const dirModify = asc ? 1 : -1;

			const sortedRows = rows.sort((a, b) => {
			const aColText = a.querySelector('td:nth-child(${column + 1})').textContent.trim();
			const bColText = b.querySelector('td:nth-child(${column + 1})').textContent.trim();

			return aColText > bColText ? (1 * dirModify) : (-1 * dirModify);
		});

		while (Body.firstChild) {
			tBody.removeChild(tBody.firstChild);
		}

		tBody.append(...sortedRows);

		table.querySelectorALL("th").forEach(th =>th.classList.remove("th-sort-asc", "th-sort-desc"));
		table.querySelector('th:nth-child(${column + 1})').classList.toggle("th-sort-asc", asc);
		table.querySelector('th:nth-child(${column + 1})').classList.toggle("th-sort-desc", !asc);
		}

		sortTable(document.querySelector("table"), 1, false); */

	</script>

	
</html>	
